# .gitignore for dragonmite

/prj/LegendOfPirate/*
/prj/LegendOfPirate/*/

!/prj/LegendOfPirate/Assets/
!/prj/LegendOfPirate/ProjectSettings/
!/prj/LegendOfPirate/Packages/

!/prj/LegendOfPirate/Library/
/prj/LegendOfPirate/Library/*
/prj/LegendOfPirate/Library/*/
!/prj/LegendOfPirate/Library/*.asset
