# .gitignore for dragonmite

/prj/Dragonmite/*
/prj/Dragonmite/*/

!/prj/Dragonmite/Assets/
!/prj/Dragonmite/ProjectSettings/
!/prj/Dragonmite/Packages/

!/prj/Dragonmite/Library/
/prj/Dragonmite/Library/*
/prj/Dragonmite/Library/*/
!/prj/Dragonmite/Library/*.asset
